html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  
}

:root {
  --primary: #000000;
  --secondary: #101928;
  --background: #fff8f2;
  --background2: #f4f3ec;
  --grey: #667185;
  --primary-gradient: linear-gradient(118.19deg, #ffaa00 4.84%, #ff7700 100%);
  --max-container-width: 1440px;
  --DataGrid-headersTotalHeight: 50px !important;
}

.MuiButton-root {
  text-transform: capitalize !important;
}
.text-gradient {
  background: var(--primary-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: 700;
}
.text {
  color: var(--grey);
  font-weight: 300 !important;
}
a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}
.shadow {
  box-shadow: 0 5px 40px #0001;
}
.shadow-small {
  box-shadow: 0 5px 15px #0001;
}
.border {
  border: 1px solid #e4e7ec;
}
.raise-on-hover {
  transition: 0.3s ease-in-out;
}
.raise-on-hover:hover {
  transform: translateY(-15px);
}

.icon-bg {
  background: #ffece5;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_green{
  border: #00CB4B solid 5px;
  color: #fff;
  background: #00CB4B;
  border-radius: 45px;
  padding: 10px 30px;
  font-size: 20px;
}
.btn_login{
  font-size: 25px;
  background: none;
  color: #000000;


}
.btn_purple{
  border: #8F3BE4 solid 5px;
  color: #fff;
  background: #8F3BE4;
  border-radius: 45px;
  padding: 10px 30px;
  font-size: 20px;
  
}
button{
  cursor: pointer;
}
.section {
  padding: 5vh 25px;
}

.MuiDataGrid-cell,
.MuiDataGrid-columnHeader {
  padding: 0 20px !important;
}
.MuiDialog-paper {
  border-radius: 15px !important;
}

@media (min-width: 720px) {
  .section {
    padding: 10vh 35px;
    position: relative;
  }
  .section-inner {
    max-width: var(--max-container-width);
    margin: 0 auto;
  }
}
